<?xml version="1.0" encoding="UTF-8"?>
<plugin
	xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
    id="cordova-plugin-edit-plist-file"
    version="0.0.3">
	<name>Edit Plist file</name>
	<engines>
		<engine name="cordova" version=">=3.5.0" />
	</engines>
	
	<!-- iOS -->
	<platform name="ios">
		<config-file target="*-Info.plist" parent="NSPrivacyFileTimestampUsageDescription">
			<string>This app uses file timestamps for data synchronization purposes.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSPrivacyDiskSpaceUsageDescription">
			<string>This app checks available disk space for caching data.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSPrivacyUserDefaultsUsageDescription">
			<string>This app stores user preferences and settings locally using UserDefaults.</string>
		</config-file>
		<!-- Location access purpose string -->
		<config-file target="*-Info.plist" parent="NSLocationAlwaysAndWhenInUseUsageDescription">
			<string>Enable location access to use auto-attendance.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSPhotoLibraryUsageDescription">
			<string>Enable this to be able to upload media.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
			<string>Enable this to be able to take photos.</string>
		</config-file>
		<config-file target="*-Info.plist" parent="OneSignalAppId">
			<string>502c761c-f147-48d3-8f4c-79bc4d7b5835</string>
		</config-file>
		<!-- Adding NSPrivacyAccessedAPITypes array with approved reasons for APIs -->
		<config-file target="*-Info.plist" parent="NSPrivacyAccessedAPITypes">
			<dict>
				<!-- Reason for NSPrivacyAccessedAPICategoryUserDefaults -->
				<key>NSPrivacyAccessedAPICategoryUserDefaults</key>
				<string>This app uses UserDefaults to store user preferences and settings.</string>
				<!-- Reason for NSPrivacyAccessedAPICategoryFileTimestamp -->
				<key>NSPrivacyAccessedAPICategoryFileTimestamp</key>
				<string>This app may access file timestamps for caching and data management purposes.</string>
				<!-- Reason for NSPrivacyAccessedAPICategoryDiskSpace -->
				<key>NSPrivacyAccessedAPICategoryDiskSpace</key>
				<string>This app may check available disk space for optimizing file downloads and storage.</string>
			</dict>
		</config-file>
		<!-- Adding URL Scheme for deeplinking -->
		<config-file target="*-Info.plist" parent="CFBundleURLTypes">
			<array>
				<dict>
					<key>CFBundleURLSchemes</key>
					<array>
						<string>com.karamsawalha.arabicschools</string>
					</array>
				</dict>
			</array>
		</config-file>
	</platform>
</plugin>
